@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --forest: #1B3B1A;
  --lime: #AAFF00;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 font-sans;
  min-height: 100vh;
  overflow-x: hidden;
}
